.mo-chapter,
#final-slide,
#intro-slide {
    background-color: whitesmoke;
    color: #0a0a0a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mo-chapter div,
#final-slide>div,
#intro-slide .content {
    max-width: 80vw;
    margin: 0 auto;
}

#intro-slide p {
    margin-bottom: 1rem;
    hyphens: auto;
    font-size: large;
}


#final-slide {
    padding: 4rem 0;
}

#final-slide div {
    padding-bottom: 2rem;
}

#final-slide p {
    padding-bottom: 1rem;
}
.mobile-only .mo-logos-container {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 20px;
        align-items: center;
}
.desktop-only .mo-logos-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px 20px;
    align-items: center;
}

.desktop-only #logoteppich,
.desktop-only #deepwave-says-thank-you,
.desktop-only #danksagung {
    width: 800px;
}

.desktop-only #mobile-placeholder {
    display: none;
}

#footer {
    text-align: center;
    color: grey !important;
    padding: 4rem;
}

#footer a {
    color: grey !important;
}
.mo-logos-container .mo-signatory-logo {
    width: 100%;
    max-width: 300px;
}
.intro-video {
    position: relative;
    padding-bottom: 177.78%;
    height: 0;
    overflow: hidden;
    width: 80vw;
    max-width: 100%;
    margin-bottom: 5rem;
}

.intro-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-text {
    margin: 3rem 0;
}

.logo_title {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

.logo_title img {
    width: 26rem;
}
@media (max-width: 767px) {
    .logo_title img {
        width: 29vw;
    }
        #intro-slide h1 {
            font-size: 3em;
        }
}
#intro-slide h1 {
    font-size: 4em;
    font-size: clamp(32px, 3vw, 3em);
    padding: 0 0 0 2rem;
    color: #fff;
}

#intro-slide {
    color: white;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 18, 24, 0.82), rgba(5, 25, 34, 0.78)), url(/backgrounds/background-ocean.avif);
        background-attachment: fixed;
    }
    
    #map-slide {
        height: 140vh;
    }
    
    #map-slide-child {
        height: 100vh;
        position: sticky;
        top: 0;
        color: white;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(4, 18, 24, 0.82), rgba(5, 25, 34, 0.78)), url(/backgrounds/background-ocean.avif);
    background-attachment: fixed;
}
.shimmer {
    // position: absolute;
    // inset: 0;
    // opacity: 0.2;
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 0.3) 45%,
            rgba(255, 255, 255, 0.7) 50%,
            rgba(255, 255, 255, 0.3) 55%,
            transparent 100%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
    height: 20vh;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    bottom: 0;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    45% {
        background-position: -100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.swipe-info {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active-next {
    opacity: 0 !important;
}
.desktop-only .mo-chapter {
    min-height: 0;
    padding: 10rem;
}

.mo-chapter h2 {
    font-weight: 500;
    font-size: x-large;
    padding-bottom: 1rem;
}

.desktop-only .mo-chapter div {
    max-width: 800px;
    font-size: large;
}

.desktop-only .mo-chapter div p {
    padding-left: 15px;
    border-left: 2px solid #0a0a0a;
}

.desktop-only .swipe-info,
.desktop-only .shimmer {
    display: none !important;
}

.desktop-only #intro-slide .content {
    display: flex;
}

.desktop-only #intro-slide .content .intro-text {
    margin: 0 6rem 0 0;
    max-width: 40vw;
}

.desktop-only #intro-slide .content .intro-video {
    position: relative;
    width: calc(70vh / 1.7778);
    height: 70vh;
    padding: 0;
}