.mo-single p,
.mo-single h2,
.mo-single h3,
.mo-single h4 {
    font-family: "Merriweather Sans";
}

.mo-single h2,
.mo-single h3,
.mo-single h4 {
    font-weight: 500;
}

.swiper-hidden {
    visibility: hidden;
}
.mo-explanation h3 {
    padding-left: 2.5rem;
}

.mo-explanation h3::before {
    content: "\003E";
    display: inline-block;
    font-size: 105%;
    position: absolute;
    margin-top: -0.04em;
        margin-left: -2.2rem;
}

.mo-explanation.active h3::before {
    content: "v";
        transform: scale(1.2, 0.9);
        margin-top: -0.1em;
}

.mo-explanation p {
    font-size: 103%;
}
.mo-cta-button.mo-explanation h3::before {
    content: "";
}

.mo-cta-button.mo-explanation h3::after {
    content: "\269F";
    display: inline-block;
    font-size: 135%;
    position: absolute;
    margin-top: -0.29em;
    margin-left: 0.5rem;
}
.mo-cta-wrapper [class*="icon-"]:before {
    font-family: "mo-icons";
    font-size: 3rem;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cta-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mo-cta-wrapper .cta-text div {
    padding: 0 0 0 2rem;
}


.icon-time_full:before {
    content: "\e80a";
}

/* '' */
.icon-time_part:before {
    content: "\e80b";
}

/* '' */
.icon-time_short:before {
    content: "\e80c";
}
@media screen and (min-width: 768px) {
    .background-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mo-background {
        height: 100vh;
        width: 100vw;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .mo-translation {
        background-color: whitesmoke;
        color: black;
        padding: 5rem 4rem 8rem 4rem;
        width: 100vw;
        height: 50vh;
        overflow-y: scroll;
        bottom: 0;
        position: relative;
        transform: scale(1.001);
    }


    .mo-translation--text {
        max-width: 80vw;
        margin: auto;
        font-size: medium;
        display: flex;
            flex-direction: column;
            min-height: 100%;
    }

    .mo-single {
        position: relative;
        color: white;
        font-size: x-large;
        display: flex;
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 200vw;
    }

    .view-1,
    .view-2 {
        height: 100vh;
        display: flex;

        justify-content: flex-end;
        z-index: 10;
        position: absolute;
    }

    .view-1 {
        left: 50vw;
        width: 50vw;
        flex-direction: column;
    }

    .gif-explanation {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10rem;
    }

.view-2 {
    left: 100vw;
    width: 100vw;
    flex-direction: row;
    // background-color: rgba(10, 10, 10, 0.65);
}

.view-2>div {
    width: 50vw;
    height: 100vh;
}
    
.mo-main-content {
    display: flex;
    flex-direction: column;
        justify-content: flex-end;
    align-items: center;
    padding-bottom: 10rem;
    }
    
    .mo-main-content .quote-icon {
        padding-bottom: 3rem;
        text-align: center;
        font-size: 250%;
        line-height: 0.2;
    }
    
    .mo-main-content-text {
        max-width: 80%;
        border-left: 2px solid white;
        padding-left: 15px;
    }
    
    
    .mo-single video {
        width: 80%;
        mix-blend-mode: screen;
        position: absolute;
    }
    
    .video-container {
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
        position: absolute;
        width: 50vw;
        height: 100vh;
    }
}

@media (max-width: 767px) {
.mo-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: 0;
    border-bottom: 1px solid #0a0a0a;
}
    

.swiper-slide {
    min-height: 100vh;
}

// from https://codepen.io/quicksilversel/pen/yLwOPye
#custom-pagination {
    display: flex;
    z-index: 999;
    align-items: start;
    padding-top: 1.5rem;
    justify-content: space-around;
    // gap: 0 0.5rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: auto !important;
    height: fit-content;
    margin: 0;
    font-size: 1.5rem;
    // padding: 0 1rem;
    color: white;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-word;
}
#custom-pagination li {
    list-style: none;
}
#custom-pagination .swiper-pagination-bullet {
    opacity: 0;
    min-width: 33vw;
    height: fit-content;
    border-radius: 0;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0;
    position: relative;
    text-align: center;

    &::before {
        content: none;
    }
}

#custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    opacity: 1;
    transform: translate(-33vw, 5px);
}

#custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
#custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
    // transform: scale(0.8);
    opacity: 0.5;
    transform: translateX(-33vw);
    white-space: nowrap;
    overflow: hidden;
        text-overflow: ellipsis;
}



.quote-icon span {
    font-size: x-large;
}

.mo-video {
    display: flex;
    justify-content: center;
    position: relative;
}

.mo-video video {
    mix-blend-mode: screen;
    width: 75vw;
    position: relative;
}

.video-container {
    position: relative;
    height: calc(50dvh + 25vw);
    margin-top: calc(50dvh - 37.5vw);
}

.gif-explanation {
    opacity: 0.1;
    margin-top: 0;
}

.sprite-container {
    z-index: 10;
}

.mo-original {
    position: relative;
    color: white;
    max-width: 80vw;
    margin: auto;
    padding-bottom: 230dvh;
    font-size: large;
}

.quote-icon {
    font-size: 2.3rem;
    text-align: center;
    line-height: 0.8;
    height: 6rem;
    bottom: calc(env(safe-area-inset-bottom, 0px) + 100dvh - 6rem);
    position: fixed;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.mo-translation {
    background-color: whitesmoke;
    width: 100vw;
    height: 55vh;
    overflow-y: scroll;
    position: fixed;
    bottom: env(safe-area-inset-bottom);
}
.mo-translation--text {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 6rem);
        padding: 3rem 0;
}

.mo-main-content {
    position: fixed;
    bottom: 55vh;
    margin: 2rem 0 3rem 0;
        height: calc(100dvh - 55vh - 5rem - 6rem);
    overflow: scroll;
    display: flex;
    color: white;
    width: 100%;
    font-size: large;
}

.mo-main-content p {
    border-left: 2px solid white;
    padding-left: 15px;
    max-width: 80vw;
    margin: auto;
}


.video-spinner {
    width: 75vw;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-spinner::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

100% {
    transform: rotate(360deg);
}
}
}
