.navigation-opener {
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding-left: 2.5rem;
    z-index: 100000;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.navigation-opener::before {
    content: "\2723";
    font-size: 90%;
    bottom: 0.25rem;
    position: absolute;
    left: 0;
    transform: rotate(15deg)scaleX(1.1);
}

.navigation-opener.active::before {
    content: "\2715";
    transform: none;
}



#map {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 7rem);
    margin-top: 7rem;
    width: 100%;
    z-index: 9000;
    visibility: visible;
}

.hover-text {
    font-size: large;
    word-break: break-word;
    hyphens: auto;
    text-align: center;
    width: 100%;
    color: white;
}

.node-inactive,
.background-dark {
    opacity: 0.2 !important;
}
#search-container {
    position: fixed;
    top: 1.8rem;
    width: 50vw;
    margin: 0 25vw;
    z-index: 1000;
}

#search-bar {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
}

#search-results {
    padding-top: 1rem;
}


#search-results img {
    width: 70px;
    padding-right: 1rem;
}

#search-results li.search-result-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white !important;
    padding: 8px;
    font-size: large;
}

#search-results li.search-result-item {
    display: block;
}