.navigation-opener {
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding-left: 2.5rem;
    z-index: 100000;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.navigation-opener::before {
    content: "\2630";
    font-size: 90%;
    bottom: 0.25rem;
    position: absolute;
    left: 0;
}

.navigation-opener.active::before {
    content: "\2715";
}



#map {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 7rem);
    margin-top: 7rem;
    width: 100%;
    z-index: 9000;
    visibility: visible;
}

.hover-text {
    font-size: x-large;
    word-break: break-word;
    hyphens: auto;
    text-align: center;
    width: 100%;
    color: white;
}

.node-inactive,
.background-dark {
    opacity: 0.2 !important;
}