
.mo-explanation h3 {
    font-size: large;
    padding-bottom: 1rem;
}
.mo-explanation h3:last-child {
    padding-bottom: 0;
}

.mo-main-content a.active {
pointer-events: all;
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.mo-explanation p {
display: none;
}
.mo-explanation p {
padding-bottom: 1rem;
}

.mo-explanation.active p {
display: block;
}

.sidenote>cite::before {
display: none;
}

.mo-cta-button {
    margin-top: auto;
}

.mo-cta-wrapper {
    position: absolute;
    background-color: rgb(0, 29, 69);
    top: 100vh;
    left: 0;
    padding: 5rem;
    padding-right: 8rem;
    color: white;
    display: none;
}

.mo-cta-wrapper.active {
    display: block;
}

.mo-cta-wrapper div,
.mo-cta-wrapper h3 {
    width: 100%;
    font-size: large;
    padding-bottom: 3rem;
}

.mo-cta-wrapper div {
    font-size: large;
}

.mo-cta-wrapper h3::after {
    content: "\2241";
    position: absolute;
    right: 6rem;
    font-size: 180%;
    top: 3.2rem;
    z-index: 1;
}
@media screen and (min-width: 768px) {
.mo-cta-wrapper {
        height: 100vh;
    }
.sidenote>cite>a {
    position: absolute;
    left: 5%;
    margin-top: 0.5em;
    width: calc(90% - 2em);
    padding: 16px;
    display: block;
        opacity: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    text-decoration: none !important;
}

.sidenote:hover>cite>a {
    display: block;
    opacity: 1;
}

.sidenote>cite+span:hover {
    border-bottom: 2px solid var(--background-extract-color);
}
}

@media (max-width: 767px) {
    .mo-cta-wrapper h3::after {
            top: 3.45rem;
        }
    .sidenote.active {
        display: inline-flex;
        flex-direction: column;
        position: relative;
    }

    .sidenote.active>span {
        width: max-content;
        order: 1;
        border: none;
    }

    .sidenote.active>cite {
        order: 2;
    }

    .sidenote.active>cite>a {
        display: block;
        position: relative;
        margin: 1.5em;
        margin-top: 1em;
        width: auto;
        height: auto;
    }
}


.sidenote>cite>a {
    background-color: whitesmoke;
    z-index: 10;
    display: none;
    color: darkgray;
    text-decoration: underline;
}
    
.sidenote>cite+span {
    cursor: pointer;
    border-bottom: 1px solid darkgray;
    transition: all 0.3s;
}
.sidenote>cite+span::after {
    content: "";
    display: inline-block;
    margin: 0 0.3em;
    position: relative;
    top: -0.1em;
    font-family: "mo-icons";
    color: #999;
    font-size: 0.8em;
    font-style: normal !important;
    transition: all 0.3s;
}

.sidenote>cite+span:hover::after {
    color: var(--background-extract-color);
}

.sidenote>.icon-link_external+span::after {
    content: "\e804";
}

.sidenote>.icon-link_internal+span::after {
    content: "\e805";
}

.sidenote>.icon-image+span::after {
    content: "\e803";
}