<div id="final-slide">

    <div id="logoteppich" style="font-size: large;">
        Das Papier <strong>Meerespolitik 2025 - Eine Zukunft für Mensch und Meer</strong> wurde unterzeichnet von:
    </div>
        <div class="mo-logos-container">
            <a href="https://www.bund.net/" target="_blank"><img src="/logos/LOGO_BUND.png" alt="LOGO BUND" loading="lazy"
                    class="mo-signatory-logo" style="transform: scale(0.8)" /></a>
            <a href="https://www.deepwave.org/" target="_blank"><img src="/logos/LOGO_DEEPWAVE_blau.png" alt="LOGO Deepwave"
                    loading="lazy" class="mo-signatory-logo" /></a>

            <a href="https://www.dnr.de/" target="_blank"><img src="/logos/LOGO_DNR.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://www.stiftung-meeresschutz.org/" target="_blank"><img src="/logos/LOGO_DSM.png" alt="LOGO"
                    loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.duh.de/" target="_blank"><img src="/logos/LOGO_DUH.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://ejfoundation.org/" target="_blank"><img src="/logos/LOGO_EJF.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://fair-oceans.info/" target="_blank"><img src="/logos/LOGO_fair_oceans.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://www.forumue.de/" target="_blank"><img src="/logos/LOGO_Forum_Umwelt_und_Entwicklung.png" alt="LOGO"
                    loading="lazy" class="mo-signatory-logo" /></a>
            <a href="https://www.greenpeace.de/" target="_blank"><img src="/logos/LOGO_Greenpeace.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://m-e-e-r.de/" target="_blank"><img src="/logos/LOGO_MEER.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://www.nabu.de/" target="_blank"><img src="/logos/LOGO_NABU.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
            <a href="https://de.whales.org/" target="_blank"><img src="/logos/LOGO_Whale_and_Dolphin_Conservation.png" alt="LOGO"
                    loading="lazy" class="mo-signatory-logo" /></a>
        <a id="mobile-placeholder"></a>
            <a href="https://www.wwf.de/" target="_blank"><img src="/logos/LOGO_WWF.png" alt="LOGO" loading="lazy"
                    class="mo-signatory-logo" /></a>
        </div>
        <div id="deepwave-says-thank-you">
            <p style="font-size: large;">Die <strong>Sidenotes</strong> zum Forderungspapier sind ein Projekt von DEEPWAVE e.V.
            </p>
            <p>
                <b>Konzept</b><br> Heye Groß | Anna Groß<br>
                <b>Texte</b><br> Nico Czaja | Anna Groß | Lea Teichmann<br>
                <b>Recherche</b><br> Dr. Franziska Bils | Dörte Themann | Amalia Klein | Moritz Aehle | Anja Schuller<br>
                <b>Animationen</b><br> Oliver Wünsch<br>
                <b>Erklärvideo</b><br> Andrea Gerhard | David Wehle<br>
                <b>Programmierung</b><br> Frieder Göock | Marius Niveri | Heye Groß
            </p>
        </div>
        <div id="danksagung">
            <p style="font-size: large;">Danksagung</p>
            Unser herzlichster, tiefer DANK geht an: all unsere Kolleg:innen, die, mit denen wir das erste Forderungspapier
            “Meeresoffensive 2020” verfasst haben, die, mit denen wir es als "Kernforderungen für eine zukunftsfähige
            Meerespolitik” aktualisiert haben, und die, mit denen wir jetzt daraus die Meerespolitik 2025 - Eine Zukunft für
            Meer und Mensch erarbeitet haben. An all unsere Mitglieder und Förder:innen, an unser ehrenamtliches Team und
            unsere Freund:innen: Ohne euch wären die DEEPWAVE Sidenotes nie Realität geworden. Dank euch sind wir
            zuversichtlich, dass wir gemeinsam eine Zukunft für die Meere und uns und unseren Blauen Planeten bauen können.
    </div>
<div id="footer">
        © 2024 DEEPWAVE e.V. |
        <a href="https://www.deepwave.org/impressum/" target="_blank">Impressum</a> |
        <a href="https://www.deepwave.org/impressum/datenschutz/" target="_blank">Datenschutz</a>
</div>
</div>