<section id="{{ .File.ContentBaseName }}" class="mo-section link-color-{{ .Params.color }}">
  <span class="line line-2"></span>
  <article class="mo-single" id="article-no-{{ .Params.order }}">
    <div class="mo-background" data-bg="backgrounds/{{ .Params.background_image }}">
    </div>
    <div class="mo-original">
      <div class="video-container">
        <div id="mo-video-{{ .File.ContentBaseName }}" class="mo-video">
          <video muted playsinline preload="none">
            <!-- <source data-src="videos/{{ lower .File.ContentBaseName }}_av1.mp4" type="video/mp4; codecs=av01.0.08M.08" /> -->
            <source data-src="videos/{{ lower .File.ContentBaseName }}.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <p class="gif-explanation">
        <span>{{ .Params.text_translation | safeHTML }}</span>
      </p>
    </div>
    <div class="quote-icon">&ldquo;<br>Daher fordern wir</span></div>
    <div class="mo-main-content">
      <p>&#8811; {{ .Content | replaceRE "^<p>" "" | replaceRE "</p>\n$" "" | safeHTML }} &#8810;
      </p>
    </div>
    <div class="mo-translation">
      <div class="mo-translation--text">

        {{ range .Params.explanations }}
        <div class="mo-explanation">
          <h3>{{ .title }}</h3>
          <p>{{ .text | safeHTML }}</p>
        </div>
        {{ end }}

        {{ with .Params.ctas }}
        <div class="mo-cta-button mo-explanation">
          <h3>Was kann ich tun?</h3>
        </div>
        {{ end }}
      </div>
      {{ with .Params.ctas }}
        <div class="mo-cta-wrapper">
          <h3 class="mo-close-handle">Was kann ich tun?</h3>
          {{ range . }}
          <div
            class="{{ if eq .short true}}mo-cta-short icon-time_short{{ end }}{{ if eq .part true}}mo-cta-part icon-time_part{{ end }}{{ if eq .full true}}mo-cta-full icon-time_full{{ end }} cta-text">
            <div>{{ .text | safeHTML }}</div>
          </div>
          {{ end }}
        </div>
        {{ end }}
    </div>
  </article>
</section>