{{ define "mo-main" }}


<div class="desktop-only swiper-hidden">
    <div id="intro-slide">
        {{ .Render "intro" }}
    </div>
    {{ range .Pages.ByParam "order" }}
    {{ .Render "chapter" }}
    {{ range .Pages.ByParam "order" }}
    {{ .Render "forderung-desktop" }}
    {{ end }}
    {{ end }}
    <div id="final-slide">
        {{ .Render "final" }}
    </div>
</div>
<div class="mobile-only">
    <div class="swiper swiper-hidden">
        <div class="swiper-wrapper">
            {{ $menuItems := slice }}
            <div class="swiper-slide" id="intro-slide" data-hash="intro">
                {{ .Render "intro" }}
            </div>
            {{ $menuItems = $menuItems | append " " }}
            {{ range .Pages.ByParam "order" }}
            {{ range .Pages.ByParam "order" }}
            {{ $menuItems = $menuItems | append .Title }}
            <div class="swiper-slide" data-hash="{{ .Title | urlize }}">
                {{ .Render "forderung" }}
            </div>
            {{ end }}
            {{ end }}
            <div class="swiper-slide" id="final-slide" data-hash="danke">
                {{ .Render "final" }}
            </div>
            {{ $menuItems = $menuItems | append " " }}
        </div>
        <div id="custom-pagination" class="swiper-pagination">
            <script>
                    const menu = {{ $menuItems | jsonify | safeJS }};
                    window.menu = menu;
                                    console.log(menu);
            </script>
        </div>
    </div>
</div>


<!-- <div id="content-container">
    {{ range .Pages.ByParam "order" }}
    <div class="content-section" id="{{ .File.Path | urlize }}" data-url="{{ .RelPermalink }}">
        <h1>{{ .Title }}</h1>
        <div class="mo-sections-wrapper">
            {{ range .Pages.ByParam "order" }}
            <div class="content-subsection" id="{{ .File.Path | urlize }}" data-url="{{ .RelPermalink }}">
                {{ .Render "forderung" }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div> -->
{{ end }}