<head>
    {{ partial "meta.html" . }}
    <!-- GSAP (for ScrollTriggers) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"></script>

    {{ $style := resources.Get "scss/swiper.css" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {{ $style := resources.Get "scss/global.scss" | resources.ToCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="https://cdn.jsdelivr.net/npm/stacked-alpha-video/+esm"></script>

    {{ $mobileJS := resources.Get "js/page_transitions.js" | resources.Minify }}
    {{ $desktopJS := resources.Get "js/page_transitions_desktop.js" | resources.Minify }}
    <script src="{{ $mobileJS.RelPermalink }}"></script>
    <script src="{{ $desktopJS.RelPermalink }}"></script>
    
    {{ $map := resources.Get "js/map.js" | resources.Minify }}
    <script src="{{ $map.RelPermalink }}" type="module"></script>

    {{ $js := resources.Get "js/sidenote-navigation.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}"></script>

</head>