<!-- Basic Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Your page description">
<meta name="keywords" content="keyword1, keyword2, keyword3">
<meta name="author" content="Your Name">
<meta name="robots" content="index, follow">

<!-- Favicon and Apple Touch Icons -->
<link rel="icon" href="/images/favicon.svg">
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest"> -->

<!-- Open Graph Tags for Social Media -->
<meta property="og:title" content="KLARTEXT Meerespolitik">
<meta property="og:description" content="Alle politischen Themen im Meeresschutz verständlich erklärt">
<meta property="og:image"
    content="https://klartext.deepwave.org/backgrounds/2_Ocean_From_Space_Nasa-unsplash_z0znzq_f7vio7.jpg">
<meta property="og:url" content="https://klartext.deepwave.org/">
<meta property="og:type" content="website">
<meta property="og:locale" content="de_DE">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="KLARTEXT Meerespolitik">
<meta name="twitter:description" content="Alle politischen Themen im Meeresschutz verständlich erklärt">
<meta name="twitter:image"
    content="https://klartext.deepwave.org/backgrounds/2_Ocean_From_Space_Nasa-unsplash_z0znzq_f7vio7.jpg">

<!-- Color Scheme -->
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">

<!-- Preconnect to External Domains 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://analytics.yoursite.com"> -->

<!-- <link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> -->

<!-- <link rel="canonical" href="https://yoursite.com/current-page"> -->

<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
<meta name="referrer" content="no-referrer-when-downgrade"> -->

{{ $options := dict "enableSourceMap" true "outputStyle" "compressed" }}